.logo img{width:85%}
.logo img{height:100%}
.kode-navigation-wrapper{font-family:Lato}
.kode-caption-title, .kode-caption-text, h1, h2, h3, h4, h5, h6{font-family:Josefin Sans}
body{font-family:Open Sans}
body{font-size:14px}
h1{font-size:30px}
h2{font-size:25px}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:15px}
.navigation ul > li > a, .navbar-nav > li > a{color:#333333 !important}
.kode-linksection, .kode-modren-btn{border-color:#ffe325 !important}
.kode-linksection, .kode-modren-btn{background:#ffe325 !important}
.navigation ul > li:hover > a{background-color:#ffffff !important}
.navigation ul > li:hover > a, .navbar-nav > li:hover{color:#d56944 !important}
.navigation .sub-menu, .navigation .children, .navbar-nav .children{background:#ffffff !important}
.navigation .menu .sub-menu li:hover > a, .navigation .sub-menu li:hover > a{ background-color:#f29100 !important }
.navigation ul li ul > li:hover > a, .navbar-nav li ul > li:hover > a{ color:#ffffff !important }
.navigation .sub-menu, .navigation .children, .navbar-nav .children{ color:#ffffff !important }
body { background-color: #ffffff;  }
#footer-widget:before{ opacity: 0.6;  }
#footer-widget:before{ background-color: #000000;  }
.logo{margin-bottom: 0%;  }
.logo{margin-top: 5%;  }
.kode-sidebar.kode-right-sidebar,.kode-sidebar.kode-left-sidebar, .kode-widget.kode-sidebar-element{background-color: #f9f9f9 !important;float:left;width:100%;}
.kode-sidebar.kode-right-sidebar,.kode-sidebar.kode-left-sidebar, .kode-widget.kode-sidebar-element{padding-top: 30px !important;}
.kode-sidebar.kode-right-sidebar,.kode-sidebar.kode-left-sidebar, .kode-widget.kode-sidebar-element{padding-bottom: 30px !important;}
.kode-sidebar.kode-right-sidebar,.kode-sidebar.kode-left-sidebar, .kode-widget.kode-sidebar-element{padding-left: 30px !important;}
.kode-sidebar.kode-right-sidebar,.kode-sidebar.kode-left-sidebar, .kode-widget.kode-sidebar-element{padding-right: 30px !important;}

						/*Header Style*/
.kf_pet_callus ul li:hover a,
.kf_pet_ui_element ul li:hover a,
.kf_pet_navigation ul li:hover > a,
.kf_pet_cart_des h6,
/*Banner Style*/
/*Looking Services style*/
/*Pet Clinic & Shop Css Start*/
/*Client Says & Shop Css Start*/
.kf_pet_testi_3_fig_des h5 > a:hover,
/*Campanion Wrap style*/
.kf_pet_cam_hover a:hover,
/*Update Product Wrap Style*/
.kf_pet_product_des h5 > a:hover,
.kf_pet_product_des ul a:hover,
/*Why Choose us Wrap Style*/
/*Latest News Style*/
.kf_pet_news_des h5 > a:hover,
/*Subscribe News-Letter Style*/
/*Footer Wrap Style*/
.kf_pet_address:hover a,
.kf_pet_foo_info ul li:hover a,
.kf_pet_copyright p a:hover,
.widget_meta ul li a:hover,
.widget_meta ul li:hover:before,
/*Blog Page Style*/
.kf_pet_breadcrumb ul li.active a,
/*Aside bar Style*/
.kf_pet_sale_des > ul > a,
/*Blog Detail Page Style*/
.kf_pet_blog_detail ul a:hover,
.kf_pet_blog_detail h4 > a:hover,
/*Comment Style*/
.kf_pet_admin_des h6 > a:hover,
.kf_pet_client_des h6 > a:hover,
/*Blog Detail Aside Style*/
.kf_pet_related_des p > a:hover,
.kf_pet_related_des > ul > li > a:hover,
.kf_pet_detail_category ul li a:hover,
.kf_pet_detail_category ul li a:hover span,
/*Services we offer Style*/
.kf_pet_offer_wrap:hover .kf_pet_offer_des h4 > a,
/*Our Mission Style*/
/*Price table style*/
/*Team wrap style*/
/*Contact us page style*/
/*Contact us Form Style*/
/*404 page style*/
.kf_pet_404page h2,
/*Comming Soon Page Style*/
.kf_pet_comming ul li p,
/*Gallery style*/
.kf_pet_filter_nav ul li.active a,
.kf_pet_filter_nav ul li:hover a,
.kf_pet_gallery_icon > a:hover,
/*Shop detail page style*/
/*Item Detail Wrap Style*/
.kf_pet_item_detail ul a,
.kf_pet_item_spec .dropdown-menu li a:hover,
/*Best Seller Style*/
/*Services Page Style*/
.kf_pet_service_broucher ul li:hover a,
.kf_pet_chunk_hdg i,
/*Blog-06 Page Style*/
.kf_pet_grid_readmore ul li a:hover,
.kf_pet_grid_readmore > a:hover,
.kf_pet_grid_des ul li a:hover,
						
						.kode_pet_top_strip .top-info a:hover,
						.widget_recentpost > ul > li:hover .post-info h6 a,
						/*-------------------------------------------------------------Logo Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_logo a,
						/*-------------------------------------------------------------Banner Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_caption a:hover,
						/*-------------------------------------------------------------Bread Crumb Wrap Style------------------------------------------------------------------------------------------*/
						.kode-breadcrumb li:hover a,
						/*-------------------------------------------------------------Pet Services Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_service_hover a:hover,
						/*-------------------------------------------------------------Download Sermon Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_lnk_1,
						/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
						.kode_homless_read a:hover,
						/*-------------------------------------------------------------Blog Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_blog:hover .kode_pet_blog_des ul li,
						.kode_pet_blog_des ul li:hover a,
						/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
						.kode_moq_piler:hover .kode_moq_piler_logo i,
						/*-------------------------------------------------------------Pet Image Gallery Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_galry_icon li a,
						/*-------------------------------------------------------------Find Best Wrap Style------------------------------------------------------------------------------------------*/
						.kode_bst_pet_lst ul li:hover .kode_pet_bst_des h5,
						/*-------------------------------------------------------------Blog Detail Sidebar Wrap Style------------------------------------------------------------------------------------------*/
						blockquote:before,
						blockquote:after,
						#koderespond form input[type="text"],
						#koderespond form p textarea,
						#koderespond form p input[type="button"]:hover,
						#koderespond form p input[type="submit"]:hover, 
						.kode_pet_navigation ul.nav li:hover a, 
						.kode_pet_navigation ul.nav li.active a,
						.kode_pet_store_thumb.kode-type-2 > a:hover,
						/*-------------------------------------------------------------Request Your Appoitment Wrap Style------------------------------------------------------------------------------------------*/
						/*-------------------------------------------------------------Love Pet Wrap Style------------------------------------------------------------------------------------------*/
						.gallery_testimonial .owl-controls .owl-buttons div.owl-prev:before,
						.gallery_testimonial .owl-controls .owl-buttons div.owl-next:before,
						.widget_pages ul li:hover > a::before, .widget_recent_entries ul li:hover a::before, .widget_nav_menu ul li:hover > a::before,
						.kode-socialnetwork ul li:hover a,
						figure.effect-hera p a,
						.widget_socialnetwork ul li:hover a,
						.widget_pages ul li:hover > a, .widget_recent_entries ul li:hover a, .widget_nav_menu ul li:hover > a,
						.kode_clinic_service_thumb:hover span,
						.kode_effect_1:hover,
						.kode_clinic_blog_capstion ul li:hover a,
						.kode_clinic_blog_capstion ul li:hover i,
						.kode_clinic_blog_capstion h4:hover a,
						.kf_pet_price_wrap ul li:after,
						.kf_blog_update_des a:hover,
						.kf_update_img_des > a:hover,
						.kode_pet_foo_lst:hover a i,
						.widget_pages ul li:hover > a:before, .widget_recent_entries ul li:hover a:before, .widget_nav_menu ul li:hover > a:before,
						.kode_effect_3:hover,
						.kode-404-page h1,
						.kode_pet_foo_lst:hover a {color: #f29100 !important;  }

						.kode_pet_search a,
.kode_pet_scl_icon ul li a:before,


.kode_pet_navigation ul.nav li:before,
.dl-menuwrapper button,
.dl-menuwrapper button.dl-trigger:hover,
/*-------------------------------------------------------------Banner Wrap Style------------------------------------------------------------------------------------------*/
.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a.active,
/*-------------------------------------------------------------download Sermon Wrap Style------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------Download Sermon Wrap Style------------------------------------------------------------------------------------------*/
.kode_pet_dwnlod_bg,
/*-------------------------------------------------------------Pet Services Wrap Style------------------------------------------------------------------------------------------*/
.kode_pet_service_hover a:hover:before,
.kode_pet_service_hover a:hover:after,
/*-------------------------------------------------------------Find Best Wrap Style------------------------------------------------------------------------------------------*/
.kode_bst_pet_lst ul li:hover .kode_bst_pet_icon i,
/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
.kode_donate2:before,
.kode_homless_read a:hover:before,
.kode_homless_read a:hover:after,
.kode_moq_piler_logo i,
/*-------------------------------------------------------------Find Best Companion Wrap Style------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------Pet Testimonial Wrap Style------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------Pet our Image Gallery Wrap Style------------------------------------------------------------------------------------------*/

.kode_pet_galry_icon li a:before,
figure.effect-hera p a i:after,
figure.effect-hera p a i:hover,
/*-------------------------------------------------------------Pet Blog Wrap Style------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------Blog Detail Sidebar Wrap Style------------------------------------------------------------------------------------------*/
.widget_categories ul li:hover,
.widget_archive ul li:hover,
.testimonial-wrap:before,
.flex-control-paging li a.flex-active,
#koderespond form p input[type="button"],
#koderespond form p input[type="submit"],
/*-------------------------------------------------------------Footer Wrap Style------------------------------------------------------------------------------------------*/
.kode_pet_foo_scl ul li a:before,
/*-------------------------------------------------------------Request Your Appoitment Wrap Style------------------------------------------------------------------------------------------*/
.kode_pet_app_btn input[type="submit"]:hover,
.kode_pet_app_btn button:hover, 
.kode_pet_caption a,
/*-------------------------------------------------------------Love Pet Wrap Style------------------------------------------------------------------------------------------*/
.kode_love_wrap_left ul li:hover i,
.kode_love_wrap ul li:hover i,
.kode_gallery_testi:before,
.kode-tag a:hover:before,
/*-------------------------------------------------------------Doctor Team Wrap Style------------------------------------------------------------------------------------------*/
.kf_team_social_detail ul li:hover a,
.kode_owl_slider_lst .owl-controls .owl-nav div.owl-prev,
.kode_owl_slider_lst .owl-controls .owl-nav div.owl-next,
/*-------------------------------------------------------------Shortcode button Wrap Style------------------------------------------------------------------------------------------*/
.kf_flat_link_1.kf_clinic_link:hover,
/*-------------------------------------------------------------WooCommerence Page Style------------------------------------------------------------------------------------------*/
.widget_product_categories ul li:hover,
.woocommerce div.product form.cart .button,
.return-to-shop .button:hover,
.woocommerce .form-row .button:hover,
.list-price a.added_to_cart:hover,
.coupon .button,
.shop_table .button,
.wc-proceed-to-checkout .checkout-button,
/*-------------------------------------------------------------Comment Wrap Style------------------------------------------------------------------------------------------*/
.comment-form input[type="submit"],
						/*Header Style*/
.kf_pet_search > a:hover,
.kf_pet_search_bar form > a,
.kf_pet_cart_item a:hover,
/*Banner Style*/
.kf_pet_banner_caption a:hover,
/*Looking Services style*/
.kf_looking_icon,
.kf_looking_hover_wrap > a:hover,
/*Pet Clinic & Shop Css Start*/
.kf_pet_clinic_shop_bg,
.kf_pet_clinic_shop_bg:before,
/*Get Appointment Css Start*/
.kf_pet_field input[type="submit"]:hover,
.kf_pet_field button:hover,
/*Client Says & Shop Css Start*/
.kf_pet_testi2_wrap:before,
/*Campanion Wrap style*/
.kf_pet_campanion:hover .kf_pet_cam_des,
/*Update Product Wrap Style*/
.kf_pet_product_des span:first-of-type,
.kf_pet_scl_icon ul li:hover a,
/*Why Choose us Wrap Style*/
.kf_pet_choose .kf_choose_hdg.accordion-open,
.kf_pet_choose .kf_choose_hdg:hover,
/*Latest News Style*/
.kf_pet_news_wrap figure:before,
.kf_pet_news_des:before,
.kf_pet_news_wrap:hover .kf_pet_news_link,
.kf_pet_news_des ul li:hover,
/*Subscribe News-Letter Style*/
.kf_pet_subscribe_wrap input[type="submit"],
.kf_pet_subscribe_wrap button,
/*Footer Wrap Style*/
.widget h5:before,
.kf_pet_foo_info ul li:hover:before,
.kf_pet_foo_social ul li:hover a,
/*Blog Page Style*/
/*Pagination Wrap Style*/
.kf_pet_pagination ul li a:hover,
/*Aside bar Style*/
.kf_pet_aside_hdg h5:before,
.kf_pet_range_slider .slider-track,
.kf_pet_range_slider input[type="submit"],
.kf_pet_range_slider button,
/*Blog Detail Page Style*/
.kf_pet_blog_icon,
.kf_pet_blog_detail ul a span,
/*Comment Style*/
.kf_pet_client_des > a:hover,
.kf_post_field input[type="submit"]:hover,
.kf_post_field button:hover,
/*Blog Detail Aside Style*/
.kf_pet_aside_search a:hover,
/*Our Mission Style*/
.kf_pet_mission .bx-wrapper .bx-controls-direction a:hover,
/*Services we offer Style*/
/*Price table style*/
.kf_pet_price_des > a,
/*Team wrap style*/
.kf_pet_team_des h5 > a:before,
.kf_pet_taem_wrap:hover .kf_pet_team_des,
/*Contact us page style*/
.kf_pet_contact_list:hover::before,
.kf_pet_contact_list:hover a,
/*Contact us Form Style*/
.kf_pet_contactus input[type="submit"]:hover,
.kf_pet_contactus button:hover,
/*404 page style*/
.kf_pet_404page > a:hover,
/*Comming Soon Page Style*/
/*Gallery style*/
.kf_pet_filter_nav ul li.active::before,
.kf_pet_filter_nav ul li::before,
.kf_pet_gallery_wrap:before,
/*Shop detail page style*/
/*Item Detail Wrap Style*/
.kf_pet_add_cart > a,
.kf_pet_cart_scl ul li a:hover,
/*Best Seller Style*/
.kf_pet_best_seller > h5:before,
/*Services Page Style*/
/*Blog-06 Page Style*/
.kf_pet_blog_social ul li a:hover,
.kf_pet_grid_des ul li span,
.kf_pet_blog_grid:hover .kf_pet_grid_icon,
						
						.kode_pet_search a,
						.kode_pet_scl_icon ul li a:before,
						.tagcloud a,
						.kode-services-left:hover i, .kode-services-right:hover i,
						.kode_pet_navigation ul.nav li:before,
						.dl-menuwrapper button,
						.dl-menuwrapper button.dl-trigger:hover,
						/*-------------------------------------------------------------Banner Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
						.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a.active,
						/*-------------------------------------------------------------download Sermon Wrap Style------------------------------------------------------------------------------------------*/
						.kode2-social-icons > li > a,
						.special:hover figure::before,
						/*-------------------------------------------------------------Download Sermon Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_dwnlod_bg,
						/*-------------------------------------------------------------Pet Services Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_service_hover a:hover:before,
						.kode_pet_service_hover a:hover:after,
						/*-------------------------------------------------------------Find Best Wrap Style------------------------------------------------------------------------------------------*/
						.kode_bst_pet_lst ul li:hover .kode_bst_pet_icon i,
						/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
						.kode_donate2:before,
						.kode_homless_read a:hover:before,
						.kode_homless_read a:hover:after,
						.kode_moq_piler_logo i,
						/*-------------------------------------------------------------Find Best Companion Wrap Style------------------------------------------------------------------------------------------*/

						/*-------------------------------------------------------------Pet Testimonial Wrap Style------------------------------------------------------------------------------------------*/

						/*-------------------------------------------------------------Pet our Image Gallery Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_galry_icon li a:before,
						figure.effect-hera p a i:after,
						figure.effect-hera p a i:hover,
						/*-------------------------------------------------------------Pet Blog Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_search label,
						/*-------------------------------------------------------------Blog Detail Sidebar Wrap Style------------------------------------------------------------------------------------------*/
						.widget_categories ul li:hover,
						.widget_archive ul li:hover,
						.testimonial-wrap:before,
						.flex-control-paging li a.flex-active,
						#koderespond form p input[type="button"],
						#koderespond form p input[type="submit"],
						/*-------------------------------------------------------------Footer Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_foo_scl ul li a:before,
						/*-------------------------------------------------------------Request Your Appoitment Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_app_btn input[type="submit"]:hover,
						.kode_pet_app_btn button:hover, 
						.kode_pet_caption a,
						/*-------------------------------------------------------------Love Pet Wrap Style------------------------------------------------------------------------------------------*/
						.kode_love_wrap_left ul li:hover i,
						.kode_love_wrap ul li:hover i,
						.kode_gallery_testi:before,						
						.page-numbers.current,
						/*
							  ============================================================
								   Background Color
							  ============================================================
						*/
						/*-------------------------------------------------------------Navigation Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_search a,
						.kode_pet_scl_icon ul li a:before,


						.kode_pet_navigation ul.nav li:before,
						.dl-menuwrapper button,
						.dl-menuwrapper button.dl-trigger:hover,
						/*-------------------------------------------------------------Banner Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a:hover, 
						.kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a.active,
						/*-------------------------------------------------------------download Sermon Wrap Style------------------------------------------------------------------------------------------*/

						/*-------------------------------------------------------------Download Sermon Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_dwnlod_bg,
						/*-------------------------------------------------------------Pet Services Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_service_hover a:hover:before,
						.kode_pet_service_hover a:hover:after,
						/*-------------------------------------------------------------Find Best Wrap Style------------------------------------------------------------------------------------------*/
						.kode_bst_pet_lst ul li:hover .kode_bst_pet_icon i,
						/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
						.kode_donate2:before,
						.kode_homless_read a:hover:before,
						.kode_homless_read a:hover:after,
						.kode_moq_piler_logo i,
						/*-------------------------------------------------------------Find Best Companion Wrap Style------------------------------------------------------------------------------------------*/

						/*-------------------------------------------------------------Pet Testimonial Wrap Style------------------------------------------------------------------------------------------*/
						.new_companion2:hover .new_companion2_capstion,
						/*-------------------------------------------------------------Pet our Image Gallery Wrap Style------------------------------------------------------------------------------------------*/

						.kode_pet_galry_icon li a:before,
						figure.effect-hera p a i:after,
						figure.effect-hera p a i:hover,
						/*-------------------------------------------------------------Pet Blog Wrap Style------------------------------------------------------------------------------------------*/

						/*-------------------------------------------------------------Blog Detail Sidebar Wrap Style------------------------------------------------------------------------------------------*/
						.widget_categories ul li:hover,
						.widget_archive ul li:hover,
						.testimonial-wrap:before,
						.flex-control-paging li a.flex-active,
						#koderespond form p input[type="button"],
						#koderespond form p input[type="submit"],
						/*-------------------------------------------------------------Footer Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_foo_scl ul li a:before,
						/*-------------------------------------------------------------Request Your Appoitment Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_app_btn input[type="submit"]:hover,
						.kode_pet_app_btn button:hover, 
						.kode_pet_caption a,
						/*-------------------------------------------------------------Love Pet Wrap Style------------------------------------------------------------------------------------------*/
						.kode_love_wrap_left ul li:hover i,
						.kode_love_wrap ul li:hover i,
						.kode_gallery_testi:before,
						.kode-tag a:hover:before,
						/*
							  ========================================================================================================================
																PET STORE BACKGROUND Color
							  ========================================================================================================================
						*/
						.kode_store_social_icon > li:hover a,
						.kode_thumb_store_product:hover figcaption,
						.kode_thumb_store_product figure span,
						.thumb figure::before,
						.kode_pet_store_shopping,
						.kode_store_faq_area > li a:hover,
						 .store_bx_capstion a,
						 /*
							  ========================================================================================================================
																PET CLINIC BOREDR COLOR
							  ========================================================================================================================
						*/
						.kode_goal_wrap .accordion-open,
						.our_work_banner .prev,
						.our_work_banner .next,
						.pet_services_thumb:hover figure:before,
						.new_companion2:hover .new_companion2_capstion,
						.service_area_thumb:hover .service_area_thumb_capstion .service-rate,
						.service_area_thumb:hover figure:before,
						.kode_clinic_thumb_product:hover .clinic-prduct-capstion,
						.kode_clinic_thumb_product:hover figcaption,
						.kode_pet_clinic_appointment .dropdown-menu,
						.circle_fig:hover figure::before,
						.kode_pet__clinic_social li a:hover::before,
						.kode_effect_3,
						.kode_clinic_thumb_product:hover .clinic-prduct-capstion,
						.kode_clinic_thumb_product:hover figcaption,
						.kode_pet_clinic_appointment .dropdown-menu,
						.circle_fig:hover figure::before,
						.kode_clinic-blog-post figure::before,
						.kode_pet_clinic_appointment .dropdown-menu > li > a:focus,
						.kode_pet_clinic_appointment .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus,						
						.time-newevent,
						.kode_clinic_service_thumb,
						.kode_our_pet_heading_2 a,
						.kode_pet_clinic_navigation,
						.bx_clinic_capstion a,
						.effect:hover::before,
						.kode2-pet-gallery ul li a:hover,
						.kode2-picture-gallery:hover figure::before,
						.kode2-more-img > a,
						.kode2-social-icons > li > a,
						.kode_clinic_top_strip,
						.special:hover figure:before,
						.kode2-news-letter-full > a,
						.kode-tag a:hover, .kode-tag a:hover:after,
						button.add_to_cart_button,
						.woocommerce ul.products li.product a,
						.kode_clinic_service_thumb:hover:before,
						.kd-table.table-1 table tr th,
						.kd-accordion .accordion.accordion-open,
						.widget_shopping_cart_content p.total,
						.kode_pet_clinic_appointment .form-button, .kode_effect_1,
						.kode-search label,
						p.buttons a.button,
						.kode_donate1,
						.kode-sc3-1:hover .kode-button a,
						.kode_owl_slider_lst .prev,
						.kf_pet_price_wrap > a,
						.kf_update_store_des ul li:hover,
						.kf_pet_choose .kf_choose_hdg.accordion-open,
						.kf_pet_choose .kf_choose_hdg:hover,
						.kf_pet_price_wrap:hover,
						.kode_owl_slider_lst .next,
						#kodecomments ul li .text a.comment-reply-link:hover,
						.kf_pet_team_wrap figure:before,
						.kf_blog_update_des ul:before,
						a.btn-price-table,
						.kf_blog_update_des ul:after,
						.kf_update_store_wrap figure:before,
						.kf_pet_team_des_new h5 > a:before,
						.kf_pet_taem_wrap_new:hover .kf_pet_team_des_new,
						.kf_pet_campanion:hover .kf_pet_cam_des,
						.kf_pet_newsletter input[type="submit"],
						.kf_update_store_des ul li:hover a,
						.kf_pet_bg1,
						.kf_pet_price_wrap_new h4,
						.kode-thumb-link,
						.woocommerce ul.products li.product span.onsale,
						.widget_testimonial.flexslider .flex-control-nav-wrapper .flex-control-paging li a:hover,
						.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,
						.shop-wrap .kode-pro-info .list-price a.add_to_cart,
						.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover, 
						.woocommerce .form-row .button, 
						.woocommerce table.shop_table thead tr, 
						.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
						.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
						#kodecomments ul li .text a.comment-edit-link:hover,
						.page-numbers li a:hover, .page-links > a:hover, .kode-pagination a:hover,
						.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button,
						button, .contributor-posts-link,
						.widget_product_search form input[type="submit"],
						.woocommerce table.shop_table thead,
						.kode-tag a:hover:before{background-color: #f29100 !important;  }
.new_companion2 .new_companion2_capstion::before, .new_companion2:hover .new_companion2_capstion::before{border-color: transparent transparent #f29100 !important;  }

						/*Header Style*/
.kf_pet_navigation ul ul,
.kf_pet_search_bar input[type="search"]:focus,
/*Banner Style*/
/*Looking Services style*/
.kf_looking_hover_wrap > a:hover,
/*Pet Clinic & Shop Css Start*/
/*Get Appointment Css Start*/
.kf_pet_field input[type="text"]:focus,
.kf_pet_field textarea:focus,
.kf_pet_field input[type="submit"]:hover,
.kf_pet_field button:hover,
/*Client Says & Shop Css Start*/
.kf_pet_testi_3_wrap .owl-item .item:hover .kf_pet_testi_3_fig figure img,
/*Campanion Wrap style*/
.kf_pet_cam_hover a:hover,
/*Update Product Wrap Style*/
.kf_pet_scl_icon ul li:hover a,
/*Why Choose us Wrap Style*/
/*Latest News Style*/
/*Subscribe News-Letter Style*/
.kf_pet_subscribe_wrap,
/*Footer Wrap Style*/
.kf_pet_foo_social ul li:hover a,
.kf_pet_newsletter input[type="email"]:focus,
/*Blog Page Style*/
.kf_pet_breadcrumb ul li,
/*Pagination Wrap Style*/
.kf_pet_pagination ul li:hover a,
/*Aside bar Style*/
.kf_pet_range_slider .slider-handle,
/*Blog Detail Page Style*/
.kf_pet_blog_detail > figure,
.kf_pet_blog_detail blockquote,
/*Comment Style*/
.kf_pet_comment ul > li:hover > .kf_client_comment > figure,
.kf_post_field input[type="text"]:focus,
.kf_post_field input[type="email"]:focus,
.kf_post_field textarea:focus,
.kf_post_field input[type="submit"]:hover,
.kf_post_field button:hover,
.kf_post_field input[type="submit"]:focus,
.kf_post_field button:focus,
/*Blog Detail Aside Style*/
.kf_pet_aside_search input[type="search"]:focus,
/*Services we offer Style*/
/*Our Mission Style*/
/*Price table style*/
/*Team wrap style*/
/*Contact us page style*/
.kf_pet_contact_list:hover a,
/*Contact us Form Style*/
.kf_pet_contactus input[type="text"]:focus,
.kf_pet_contactus input[type="email"]:focus,
.kf_pet_contactus textarea:focus,
.kf_pet_contactus input[type="submit"]:hover,
.kf_pet_contactus button:hover,
/*404 page style*/
/*Comming Soon Page Style*/
/*Gallery style*/
/*Shop detail page style*/
/*Item Detail Wrap Style*/
.kf_pet_cart_scl ul li a:hover,
/*Best Seller Style*/
/*Services Page Style*/
.kf_pet_service_broucher ul li:hover a,
.kf_pet_featurd_client ul li:hover,
/*Blog-06 Page Style*/
.kf_pet_blog_grid:hover .kf_pet_grid_readmore::before,
.kf_pet_blog_social ul li:hover a,
						
						/*-------------------------------------------------------------Search Bar Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_navigation .navigation ul li:hover a,
						.current,
						.kode_pet_search a, .kode_pet_scl_icon ul li a::before, .kode_pet_navigation ul.nav li::before, .dl-menuwrapper button, .dl-menuwrapper button.dl-trigger:hover, .kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a:hover, .kode_pet_banner .bx-wrapper .bx-pager.bx-default-pager a.active, .kode_pet_dwnlod_bg, .kode_pet_service_hover a:hover::before, .kode_pet_service_hover a:hover::after, .kode_bst_pet_lst ul li:hover .kode_bst_pet_icon i, .kode_donate2::before, .kode_homless_read a:hover::before, .kode_homless_read a:hover::after, .kode_moq_piler_logo i, .kode_pet_galry_icon li a::before, figure.effect-hera p a i::after, figure.effect-hera p a i:hover, .widget_categories ul li:hover, .widget_archive ul li:hover, .testimonial-wrap::before, .flex-control-paging li a.flex-active, #koderespond form p input[type="button"], #koderespond form p input[type="submit"], .kode_pet_foo_scl ul li a::before, .kode_pet_app_btn input[type="submit"]:hover, .kode_pet_app_btn button:hover, .kode_pet_caption a, .kode_love_wrap_left ul li:hover i, .kode_love_wrap ul li:hover i, .kode_gallery_testi::before, .kode-tag a:hover::before,
						/*-------------------------------------------------------------Find Best Wrap Style------------------------------------------------------------------------------------------*/
						.kode_bst_pet_icon i:after,
						/*-------------------------------------------------------------Find Best Companion Wrap Style------------------------------------------------------------------------------------------*/
						.kode_moq_piler_logo,
						.kode_moq_piler_logo i,
						/*-------------------------------------------------------------Blog Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_blog:hover,
						/*-------------------------------------------------------------Suffer Homeless Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_range_sldr .slider-handle,
						.kode_clinic_thumb_product:hover .clinic-prduct-capstion,
						.kode_clinic_thumb_product:hover figcaption,
						.kode_pet_top_strip_store,
						
						/*-------------------------------------------------------------Blog Detail Sidebar Wrap Style------------------------------------------------------------------------------------------*/
						blockquote,
						#koderespond form input[type="text"]:focus,
						#koderespond form p textarea:focus,
						#koderespond form p input[type="button"]:hover,
						.service_area_thumb:hover .service_area_thumb_capstion a,
						.kode_our_pet_service_thumb figure,
						.kode_our_pet_service_thumb .circle_fig figure,
						.kf_blog_update_des a:hover,
						.page-numbers li a:hover, .page-links > a:hover, .kode-pagination a:hover,
						.kode-services-left:hover i, .kode-services-right:hover i,
						.kode_effect_3,
						.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
						#koderespond form p input[type="submit"]:hover,
						.kode-sc3-1:hover::before, .kode-sc3-1:hover::after,
						/*-------------------------------------------------------------Footer Wrap Style------------------------------------------------------------------------------------------*/
						.kode_pet_foo_scl ul li:hover a{border-color: #f29100 !important;  }
.span_top::before{border-color: transparent transparent #f29100 !important;  }
.span_top::after{border-color: transparent transparent transparent #f29100 !important;  }
.span_bottom::after{border-color: #f29100 transparent transparent !important;  }
.span_bottom::before{border-color: transparent #f29100 transparent transparent !important;  }
.kode_pet_navigation ul.nav li a.current{border-top-color: #f29100 !important;  }
.kode_effect_4{box-shadow: 0 0 0 5px #f29100 !important;  }
.kode-linksection:hover,.kode-linksection:hover:before{color: #000000 !important;  }
.kode-linksection:hover:before,.kode-linksection:hover,.hvr-radial-out:before{background: #ffffff !important;  }
.kode_clinic_service_thumb:hover span{box-shadow: 0 0 15px 11px #f29100 !important;  }
.kode-widget.kode-sidebar-element{background-color: #f9f9f9 !important;  padding:30px;float:left;width:100%;}
